<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.p3l">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".Activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.MainActivity"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".Activity.CSActivity"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".Activity.ProdukActivity"
        android:label="Produk">

        </activity>
        <activity android:name=".Activity.LayananActivity"
            android:label="Layanan">

        </activity>
        <activity android:name=".CRUDActivity.EditProdukActivity">

        </activity>
        <activity android:name=".CRUDActivity.EditLayananActivity">

        </activity>
        <activity android:name=".Activity.SupplierActivity"
            android:label="Supplier">

        </activity>
        <activity android:name=".CRUDActivity.EditSupplierActivity">

        </activity>
        <activity android:name=".Activity.HewanActivity"
            android:label="Hewan">

        </activity>
        <activity android:name=".CRUDActivity.EditUkuranHewanActivity">

        </activity>
        <activity android:name=".CRUDActivity.CreateUkuranHewanActivity">

        </activity>
        <activity android:name=".CRUDActivity.CreateJenisHewanActivity">

        </activity>
        <activity android:name=".CRUDActivity.EditJenisHewanActivity">

        </activity>
    </application>

</manifest>